{% extends 'main/base.html' %}
{% block content %}
<table style="width:100%; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; margin-top: 20px;">
    <thead style="background-color: #3f18ec; color: white;">
        <tr>
            <th style="padding: 12px; border: 1px solid #ddd;">Full Names</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Location</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Email Address</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Telephone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">IRADUKUNDA Paul</td>
            <td style="padding: 10px; border: 1px solid #ddd;">Musanze</td>
            <td style="padding: 10px; border: 1px solid #ddd;">musanze@gmail.com</td>
            <td style="padding: 10px; border: 1px solid #ddd;">078888888888</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 10px; border: 1px solid #ddd;">AMANI Paul</td>
            <td style="padding: 10px; border: 1px solid #ddd;">Huye</td>
            <td style="padding: 10px; border: 1px solid #ddd;">huye@gmail.com</td>
            <td style="padding: 10px; border: 1px solid #ddd;">078888889999</td>
        </tr>
    </tbody>
</table>

{% endblock %}